# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "e906db3ce2a9a631dc3a015634643bb0"
name = "Meta bulk assign"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2026-01"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products,read_products,write_files"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]
