
<div class="page-width text-center">
  <h1>Seite nicht gefunden</h1>
  <p>Entschuldigung, wir konnten diese Seite nicht finden.</p>

  <a href="{{ routes.root_url }}" class="button">
    Zurück zur Startseite
  </a>
</div>
