<section class="mt-[50px] md:mt-[150px]">
  <div class="mx-auto grid grid-cols-1 sm:grid-cols-2 w-fit xl:grid-cols-4 gap-[32px] md:gap-[90px]">
    {% for block in section.blocks %}
      <!-- Feature 1 -->
      <div class="flex flex-row items-center md:pl-0 pl-0 w-fit">
        <img
          src="{{ block.settings.image | img_url: '50x' }}"

          alt=""
          class="md:w-[48px] md:h-[48px] w-[40px] h-[40px] flex-shrink-0"
          width="48"
          height="48"
        >
        <div
          class="flex flex-col gap-[4px] ml-4 items-start text-start"
        >
          <h3 class="!text-[16px] md:!text-[18px] leading-[1.2]">{{ block.settings.title }}</h3>
          <p
            class="!text-[12px] md:!text-[14px] opacity-70 "
          >
            {{ block.settings.subtitle }}
          </p>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Funktionalitäten",
  "settings": [],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Bild"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Titel"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Untertitel"
        }
      ]
    }
  ],
  "max_blocks": 5,
  "presets": [
    {
      "name": "Funktionalitäten"
    }
  ]
}
{% endschema %}
