<button
  type="button"
  id="mobileSearchBtn"
  aria-label="Zur Suche"
  aria-expanded="false"
  class="relative md:hidden inline-flex items-center justify-center w-[20px] h-[20px] transition"
>
  <svg viewBox="0 0 19 19" fill="none" aria-hidden="true">
    <path d="M8.94922 16.6094C12.8842 16.6094 16.0742 13.4194 16.0742 9.48438C16.0742 5.54935 12.8842 2.35938 8.94922 2.35938C5.01419 2.35938 1.82422 5.54935 1.82422 9.48438C1.82422 13.4194 5.01419 16.6094 8.94922 16.6094Z"
          stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M16.8242 17.3594L15.3242 15.8594"
          stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
  <span class="sr-only">Suche öffnen</span>
</button>

{% schema %}
{
  "name": "Suche-Button",
  "settings": []
}
{% endschema %}
